.full-width {
    width: 100%;
}

.with-margin {
    margin: 10px;
}

.ml {
    margin-left: 5px;
}
.med {
    width: 350px;
    max-width: 350px;
    text-overflow: ellipsis;
    font-weight: bold;
}

.pull-right {
    margin-left: auto;
}

.mat-row:nth-child(even){
    background-color: #e2e2fd;
}
       
.mat-header-row {
    background-color: #5064aa;
}

.mat-header-cell{
    color: #e8edf8;
}

.green {
    background-color:#82af32;
}

.white-icon {
    color: white;
}